body,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin: 0; 
	font-size: 0px;
	}
ol,ul{ 
	list-style:none; 
	margin: 0;
	padding:0;
	}
a{
	text-decoration: none;
	}
img{
	border: none;
	vertical-align: top;
	}
form{
	margin:0;
	}
input{
	padding:0;
	margin:0;
	}
	a{
		text-decoration: none;
				/*清除点击链接和文本框对象时默认的灰色半透明覆盖层(iOS)或者虚框(Android)*/
		-webkit-tap-highlight-color:rgba(0,0,0,0);
	}
input{
		-webkit-tap-highlight-color:transparent;
		-webkit-appearance: none;
				/*消除输入框和按钮的原生外观，在iOS上加上这个属性才能给按钮和输入框自定义样式*/ 
	}
html{
	height: 100%;
	overflow: hidden;
}
body{
	height: 100%;
	overflow: auto;
}
.clearfixed:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
body{
	background: #f0f0f0;
}
.List{
	background: #fff;
}
header{
	width: 100%;
	height: 2.25rem;
	background-color: #44bb77;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding-left: 0.575rem;
	font-size: 0.65rem;
	display: -webkit-flex;
}
.place{
	flex: 3;
}
.nav{
	flex: 2;
}
.place img{
	width: 1.2rem;
	height: 2.25rem;
}
.place a,.nav a{
	color: white;
	line-height: 2.25rem;
	margin-right: 0.5rem;
}
.place a .jian,.nav a .jian{
	font-size: 0.4rem;
}
.place-1{
	background: url(../img/logo1.gif) no-repeat;
}
header input{
	width: 4.8rem;
	height: 1.5rem;
	border: none;
	font-size: 0.65rem;
	padding-left: 1.5rem;
	margin-top: 0.5rem;
	border-radius: 0.25rem;
}
form{
	position: relative;	
}
form a{
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
}
form img{
	width: 0.75rem;
	height: 1.5rem;
}
.nav{
	margin-left: 0.75rem;
	padding-left: 1.375rem;
	background: url(../img/pop.gif) no-repeat;
	background-size: 30%;
}
.pc img{
	width: 100%;
	height: 4.5rem;
	margin-top: 2.25rem;
}
.list1{
	margin: 0 auto;
	width: 15.0rem;
}
.list1 li{
	width: 4.3rem;
	height: 2.15rem;
	margin-right: 0.5rem;
	margin-top: 0.5rem;
	font-size: 0.7rem;
	text-align: center;
	padding-left: 0.4rem;
	border-radius: 4px;
	background: #19c88a;
	margin-bottom: 0.5rem;
	position: relative;
}
.list1 li a{
	color: white;
}
.list1 .out i{
	display: block;
	width:1.05rem;
	height: 2.1rem;
	background: url(../img/out.gif) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0.4rem;
}
.list1 .out a,.list1 .in a,.list1 .ambitus a{
	display: block;
	height: 2.15rem;
	line-height: 2.15rem;
	padding-left: 0.4rem;
}
.list1 .in i{
	display: block;
	width:1.05rem;
	height: 2.1rem;
	background: url(../img/in.gif) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.1rem;
	left: 0.4rem;
}
.list1 .in{
	background-color: #21b0f4;
}
.list1 .ambitus i{
	display: block;
	width:1.05rem;
	height: 2.1rem;
	background: url(../img/zhoubian.gif) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.1rem;
	left: 0.4rem;
}
.list1 .ambitus{
	background-color: #ff883d;
	margin-right: -0.5rem;
}
.list2{
	width: 14.85rem;
	margin: 0 auto;
	position: relative;
}
.list2 li{
	height: 3.1rem;
	width: 2.4rem;
	margin-right: 0.825rem;
	font-size: 0.55rem;
	text-align: center;
	margin-bottom: 0.8rem;
}
.list2 a img{
	padding-bottom: 0.5rem;
}
.list2 a span{
	color: black;
}
.list2 .gen1{
	margin-right: -0.825rem;
}
.list-2{
	height: 8.225rem;
	width: 100%;
	border-bottom: 0.025rem solid #dddddd;
	padding-bottom: 0.35rem;
}
.list2 img{
	width: 2.025rem;
	height: 2.05rem;
}
.list-2 .dian img{
	display: block;
	margin: 0 auto;
	width: 1.05rem;
	height: 0.3rem;
}
.cu{
	display: block;
	font-size: 0.7rem;
	color: #454545;
	line-height: 1.95rem;
	margin: 0 auto;
	width: 14.85rem;
	height: 1.95rem;
	position: relative;
}
.cu span{
	padding-left: 1.25rem;
}
.cu i{
	display: block;
	width: 1.025rem;
	height: 1.95rem;
	background: url(../img/cu.gif) no-repeat;
	background-size: 100%;
	position: absolute;
	top: 0.05rem;
	left: 0;
}
.cu img{
	width: 4.05rem;
	height: 1.95rem;
	margin-top: 0.02rem;
}
.dingzhi{
	width: 100%;
	height: 3.675rem;
	background: #f0f0f0;
}
.dingzhi li{
	width: 2.45rem;
	height: 2.725rem;
	background: #fff;
	margin-top: 0.475rem;
	text-align: center;
	margin-right: 0.6rem;
	border-radius: 0.25rem;
}
.dingzhi li a{
	font-size: 0.55rem;
	color: #2a2a29;
}
.dingzhi li img{
	display: block;
	margin: 0.55rem auto 0.25rem;
	width: 1.075rem;
	height: 0.925rem;
}
.dingzhi ul{
	width: 14.65rem;
	margin:0 auto;
}
.dingzhi ul .ding-1{
	margin-right: -0.6rem;
}
.pop-vip{
	background: #fff;
	height: 4.55rem;
	width: 100%;
	background-color: #fff;
}
.pop-vip i{
	display: block;
	width: 2.6rem;
	height: 0.925rem;
	background: url(../img/vip1.gif) no-repeat;
	background-size: 100%;
}
.vip1{
	width: 8.3rem;
	height: 4.55rem;
	border-right: 1px solid #f8f8f8;
}
.vip-1 img{
	width: 2.3rem;
	height: 2.3rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}
.vip1 p{
	font-size: 0.55rem;
	color: #454545;
	line-height: 0.825rem;
}
.vip1 p .price{
	display: block;
	color: #dd4501;
}
.vip1 p .price em,.vip1 p .price strong{
	font-style: normal;
	font-weight: normal;
}
..vip1 time img{
	width: 4.4rem;
	height: 0.875rem;
}
.vip1 p .price strong{
	display: block;
	width: 1.325rem;
	height: 0.7rem;
	background: #fc7603;
	color: white;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 0.7rem;
}
.hot-play{
	height: 4.55rem;
	width: 3.8rem;
	border-right: 1px solid #f8f8f8;
}
.hot-play a,.hot-recommend li a{
	font-size: 0.55rem;
	color: #454545;
	text-align: center;
}
.hot-play a strong{
	display: block;
	padding-top: 0.675rem;
	padding-bottom: 0.25rem;
}
.hot-play a em,.hot-recommend li em{
	font-style: normal;
	color: #ccc;
	font-size: 0.45rem;
	display: block;
}
.hot-play a img{
	width: 3.8rem;
	height: 2.025rem;
}
.temai{
	border-right: none;
}
.hot-recommend{
	width: 100%;
	height: 12.75rem;
	background: #fff;
	margin: 0.5rem 0;
}
.hot-recommend h2,.find-wonderful h2{
	font-size: 0.7rem;
	line-height: 2.25rem;
	padding-left: 0.75rem;
	height: 2.25rem;
}
.hot-recommend ul li{
	width: 3.975rem;
	height: 5.225rem;
	border-top: 0.025rem dashed #eee;
	border-right: 0.025rem solid #eee;
}
.hot-recommend ul .li1{
	border-top: 0.025rem solid #eee;
}
.hot-recommend li a{
	font-size: ;
}
.hot-recommend li strong{
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.25rem;
}
.hot-recommend li img{
	width: 3.975rem;
	height: 3.4rem;
}
.find-wonderful{
	width: 100%;
	height: 7.9rem;
	background: #fff;
}
.find-wonderful .heard{
	width: 100%;
	height: 2.25rem;
	border-bottom: 0.025rem solid #eee;
}
.find-wonderful .heard img{
	width: 10.225rem;
	height: 2.2rem;
	margin-left: 1.075rem;
}
.find-wonderful ul{
	width: 14.5rem;
	margin: 0 auto;
}
.find-wonderful ul li img{
	width: 3.2rem;
	height: 4.65rem;
	margin: 0.5rem 0.5rem 0 0;
}
.find-wonderful ul .find-no img{
	margin-right: -0.5rem;
}
.find-more{
	display: block;
	width: 11.05rem;
	margin: 0.9rem auto 0.65rem;
}
.find-more img{
	width: 11.05rem;
	height: 0.9rem;
}
.week-wonderful{
	width: 100%;
	height: 6.0rem;
	background: #fff;
}
.week-wonderful .heard li{
	width: 3.95rem;
	height: 2.125rem;
	text-align: center;
	line-height: 2.125rem;
}
.week-wonderful .heard li a{
	font-size: 0.75rem;
	color: #2a2a29;
}
.week-wonderful .heard .week-hot{
	border-bottom: 0.15rem solid #1dd175;
}
.week-wonderful .heard .week-hot a{
	color: #54de9b;
}
.all{
	height: 3.7rem;
	background: #f8f8f8;
}
.all li{
	width: 3.95rem;
	height: 1.9rem;
	border: 0.025rem solid #cccccc;
	text-align: center;
	line-height: 1.9rem;
	border-top: none;
}
.all li a{
	font-size: 0.55rem;
	color: #635542;
}
.all .all-1 a{
	line-height: 1.25rem;
	display: block;
	width: 3.1rem;
	height: 1.25rem;
	color: white;
	background: #44cc77;
	border-radius: 0.5rem;
	margin: 0.3rem auto 0;
}
.USA{
	width: 100%;
	height: 11.5rem;
	background: #fff;
	margin-bottom: 0.55rem;
}
.USA img{
	width: 100%;
	height: 7.5rem;
}
.USA p{
	font-size: 0.7rem;
	color: #969898;
	text-align: center;
}
.USA p span{
	font-size: 0.55rem;
}
.USA p a{
	display: block;
	color: #2a2a29;
	padding: 1.05rem 0 0.6rem;
}
.ticket{
	width: 14.8rem;
	margin: 0 auto;
}
.ticket .ticket2{
	display: block;
	font-size: 0.55rem;
	color: #99fdce;
	text-align: center;
	padding: 0.6rem 0 0.7rem;
}
.ticket img{
	width: 7.125rem;
	height: 5.275rem;
}
.ticket1{
	margin-right: 0.55rem;
}
footer{
	height: 7.75rem;
	width: 100%;
	background: #fff;
	text-align: center;
}
footer li{
	width: 3.18rem;
	height: 2.7rem;
	border: 0.025rem solid #ddd;
	border-left: none;
	text-align: center;
	margin-bottom: 0.975rem;
}
footer .fot{
	border-right: none;
}
footer li img{
	width: 0.8rem;
	height: 0.8rem;
	margin-top: 0.5rem;
	margin-bottom: 0.325rem;
}
footer li span{
	font-size: 0.55rem;
	color: #2a2a29;
	display: block;
}
footer p{
	font-size: 0.45rem;
	color: #aaaaa9;
}
.dian1,.dian2{
	display: block;
	width:  2.05rem;
	height: 2.05rem;
	opacity: .9;
	z-index: 10;
}
.dian1 img,.dian2 img{
	width: 1.05rem;
	height: 1.05rem;
	margin: 0.5rem 0 0 0.5rem;
}
.dian1{
	background: #f99633;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.dian2{
	background: #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
}
.us-text img{
	width: 2.3rem;
	height: 0.75rem;
}
.us-text2 img{
	width: 2.725rem;
	height: 0.75rem;
}








