body,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin: 0; 
	font-size: 0px;
	}
ol,ul{ 
	list-style:none; 
	margin: 0;
	padding:0;
	}
a{
	text-decoration: none;
	}
img{
	border: none;
	vertical-align: top;
	}
form{
	margin:0;
	}
input{
	padding:0;
	margin:0;
	}
.clearfixed:after{
	content: "";
	display: block;
	clear: both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.top{
	height: 29px;
	background: #f8f8f8;
	border-bottom: 1px solid #eeeeee;
	font-size: 12px;
}
.top-1{
	height: 29px;
	width: 1203px;
	margin: 0 auto;
}
.top-1 a{
	color: #404040;
}
.color1{
	color: #ccd4df;
	margin: 0 2px 0 -6px;
}
.top-1 li{
	height: 29px;
	line-height: 29px;
}
.i1{
	display: block;
	width: 92px;
	height: 29px;
	background:url(../img/1.gif);
}
 ul .color2{
	color: #fe8800;
}
.i2{
	display: block;
	height: 29px;
	width: 7px;
	background: url(../img/1.gif) no-repeat;
	background-position: -100px 0;
	position: absolute;
	top: 0;
	left: 54px;
}
li .my{
	display: block;
	width: 60px;
	height: 29px;
	position: relative;
}
.i4{
	display: block;
	width: 20px;
	height: 29px;
	background: url(../img/1.gif) no-repeat;
	background-position: -120px -1px;
}
.i5{
	background-position: -140px -1px;
}
.i6{
	background-position: -160px -1px;
}
.right li{
	margin-right: 23px;
}
.search{
	margin: 0 auto;
	width: 1175px;
	height: 93px;
	position: relative;
}
.logo{
	width: 126px;
	height: 67px;
	background: url(../img/1.gif) no-repeat;
	background-position: 0 -40px;
	position: absolute;
	top: 27px;
	left: 10px;
}
.city{
	position: absolute;
	top: 36px;
	left: 167px;
	width: 63px;
	height: 38px;
}
.city1 a{
	font-size: 14px;
	color: #000000;
}
.bg2{
	display: block;
	width: 5px;
	height: 14px;
	background: url(../img/1.gif) no-repeat;
	background-position: -180px 0;
	position: absolute;
	top: 0px;
	right: 10px;
}
.city p{
	font-size: 12px;
	color: #999999;
	width: 63px;
	height: 16px;
	background: #f3f3f3;
	line-height: 16px;
	margin-top: 7px;
	border-radius: 2px;
}
.sear{
	width: 492px;
	height: 34px;
	background: #ff8800;
	position: absolute;
	top: 30px;
	left: 291px;
	padding: 3px 0 3px 3px;
}
.all{
	width: 89px;
	height: 34px;
	background: #f8f8f8;
	line-height: 34px;
	position: relative;
	border-right:1px solid #e5e5e5 ;
}
.all a{
	font-size: 12px;
	color: #99b0d4;
	margin-left: 14px;
}
.all-bg{
	display: block;
	width: 9px;
	height: 13px;
	background: url(../img/1.gif) no-repeat;
	background-position: -200px 0;
	position: absolute;
	top: 12px;
	right: 12px;
}
input{
	border: none;
	width: 332px;
	height: 34px;
}
.sear-bg{
	width: 19px;
	height: 40px;
	background: url(../img/1.gif) no-repeat;
	background-position: -220px 1px;
	position: absolute;
	top: 0;
	right: 23px;
}
.nei{
	position: absolute;
	top: 6px;
	right: 67px;
}
.nei li{
	width: 34px;
	height: 28px;
	background: #f3f3f3;
	border-radius: 12px;
	margin-right: 13px;
	line-height: 28px;
	text-align: center;
}
.nei li a{
	font-size: 12px;
	color: #404040;
}
.gao{
	position: absolute;
	top: 43px;
	right: 326px;
	font-size: 12px;
	color: #999999;
	padding-right: 11px;
}
.gao-bg{
	display: block;
	width: 7px;
	height: 11px;
	background: url(../img/1.gif) no-repeat;
	background-position: -240px 0;
	position: absolute;
	top: 2px;
	right: 0;
}
.pc-bg{
	position: absolute;
	top: 0;
	right: 0;
}
.nav{
	height: 32px;
	border-bottom: 3px solid #38c249;
	margin-top: 7px;
}
.nav .nav1{
	width: 1178px;
	margin: 0 auto;
}
.nav a{
	font-size: 14px;
	color: #2b8f08;
}
.nav1 .first{
	font-size: 16px;
	background: #4ece5a;
}
.nav1 li{
	width: 76px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	position: relative;
}
.nav1 .tour11{
	width: 90px;
}
.nav1 .first a{
	color: #ffffff;
	font-weight: bold;
}
.nav-bg{
	display: block;
	width: 6px;
	height: 32px;
	background: url(../img/1.gif) no-repeat;
	background-position: -260px 8px;
	position: absolute;
	right: 7px;
	top: 0;
}
.content{
	height: 440px;
	position: relative;
}
.toutu img{
	height: 440px;
	width: 100%;
}
.cont-bg{
	height: 205px;
	width: 100%;
	position: absolute;
	background: #1d2088;
	bottom: 0;
	left: 0;
	opacity: .5;
}
.cont-lf{
	width: 222px;
	height: 421px;
	background: #ffffff;
	position: absolute;
	top: 10px;
	left: 80px;
	padding-right: 6px;
}
.lf-bg{
	display: block;
	width: 86px;
	height: 60px;
	background: url(../img/1.gif) no-repeat;
	background-position: -280px 0;
}
.black{
	width: 86px;
	height: 360px;
	background: #38414c;
	position: absolute;
	bottom: 0;
	left: 0;
}
.black a{
	font-size: 12px;
	color: #ffffff;
}
.black li{
	width: 86px;
	height: 59px;
	border-bottom: 1px dotted #202020;
	position: relative;
	text-align: center;
	
}
.zi{
	line-height: 80px;
}
.black-bg{
	display: block;
	width: 22px;
	height: 34px;
	background: url(../img/1.gif);
	background-position: 0 -200px;
	position: absolute;
	top: 0;
	left: 32px;
}
.bg-1{
	background-position: 0 -234px;
}
.bg-2{
	background-position: 0 -268px;
}
.bg-3{
	background-position: 0 -300px;
}
.bg-4{
	background-position: 0 -334px;
}
.bg-5{
	background-position: 0 -368px;
}
.rt-right{
	width: 127px;
	height: 421px;
}
.rt-right li{
	width: 127px;
	height: 40px;
	position: relative;
	border-bottom: 1px dotted #dcdcdc;
	text-align: center;
}
.rt-right li a{
	font-size: 12px;
}
.rt-title a{
	font-weight: bold;
	color: #333333;
}
.rt-title{
	margin: 6px 0 7px;
	word-spacing: 6px;
}
.rt-text{
	word-spacing: 4px;
}
.rt-text a{
	color: #999999;
}
.rt-bg{
	display: block;
	width: 6px;
	height: 9px;
	background: url(../img/1.gif) no-repeat;
	background-position: 0 -420px;
	position: absolute;
	top: 12px;
	right: 0;
}
.rt-right .none{
	border-bottom: none;
}
.cont-rt{
	width: 231px;
	height: 421px;
	background: white;
	position: absolute;
	top: 10px;
	right: 80px;
}
.cont-rt1{
	width: 222px;
	height: 172px;
	border-bottom: 1px solid #ececec;
	position: relative;
	padding-left: 9px;
	font-size: 12px;
}
.cont-rt1 img{
	margin-top: 14px;
}
.cont-rt1 .number{
	position: absolute;
	top: 28px;
	right: 25px;
	color: #999999;
}
.dianping{
	margin-top: 11px;
	margin-bottom: 4px;
}
.dianping a{
	color: black;
	line-height: 22px;
}
.user{
	color: #999;
	margin-right: 10px;
}
.cont-rt1 .number .chu{
	display: block;
}
.cont-rt1 p{
	font-size: 12px;
}
.cont-rt2{
	width: 212px;
	height: 74px;
	font-size: 12px;
	padding-top: 16px;
	padding-left: 19px;
}
.cont-rt2 li{
	margin-right: 20px;
}
.rt2-no{
	margin-right: -20px;
}
.cont-rt2 a{
	color: #656565;
	text-align: center;
}
.cont-rt2-sun{
	display: block;
	height: 12px;
	padding-top: 6px;
}
.cont-rt2-bg{
	display: block;
	width: 38px;
	height: 30px;
	background: url(../img/2.gif) no-repeat;
	background-position: -240px -682px;
}
.cont-rt2-bg1{
	background-position: -240px -724px;
}
.cont-rt2-bg2{
	background-position: -240px -760px;
}
.rt3-title{
	font-size: 12px;
	font-weight: bold;
	color: #b0b0b0;
	padding-bottom: 4px;
}
.rt3-bg{
	display: block;
	width: 80px;
	height: 8px;
	background: url(../img/2.gif) no-repeat;
	background-position: -300px -680px;
	margin-top: 4px;
}
.now{
	margin-left: 9px;
}
.cont-rt3 ul{
	height: 50px;
	margin-left: 10px;
	padding-bottom: 18px;
}
.cont-rt3 li{
	width: 98px;
	height: 18px;
	border: 1px solid #e5e5e5;
	margin-top: 10px;
	border-radius: 12px;
	text-align: center;
}
.rt3{
	margin-right: 10px;
}
.cont-rt3 li a{
	font-size: 12px;
	color: black;
	line-height: 18px;
}
.last-pc{
	margin-left: 20px;
	
}
.cont-mid{
	font-size: 12px;
}
.mid-top{
	position: absolute;
	top: 283px;
	left: 320px;
}
.mid-top li{
	width: 117px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-right: 2px;
	position: relative;
}
.fl-bg{
	width: 117px;
	height: 20px;
	background: #f7f0f1;
	opacity: .8;
}
.text{
	position: absolute;
	top: 0;
	left: 0;
	width: 117px;
	height: 20px;
}
.text a{
	color: #6f3437;
}
.mid-botm{
	height: 122px;
	position: absolute;
	bottom: 10px;
	left: 320px;
}
.content1,.content2{
	width: 1190px;
	margin: 0 auto;
	font-size: 12px;
}
.content2{
	position: relative;
	height: 50000;
	height: 4885px;
}
.cont-right1{
	position: absolute;
	top: 32px;
	right: 0;
}
.over{
	height: 168px;
	width: 950px;
	margin-top: 32px;
}
.over-title{
	height: 25px;
	width: 950px;
	border-bottom: 3px solid #eceef4;
}
.over-title .tit-green{
	border-bottom: 3px solid #22c231;
}
.over-title .tit-green a{
	font-size: 18px;
	color: #22c231;
	font-weight: bold;
}
.over-title li{
	height: 25px;
	width: 81px;
	text-align: center;
}
.over-title li a{
	font-size: 16px;
	color: #222222;
}
.over-more{
	color: #999999;
}
.over-cont{
	height: 125px;
	width: 950px;
	margin-top: 15px;
}
.over-cont li{
	width: 225px;
	height: 125px;
	position: relative;
	margin-right: 16px;
}
.over-cont .ov-mag{
	margin-right: -16px;
}
.over-cont img{
	width: 225px;
	height: 125px;
}
.jiao{
	display: block;
	width: 43px;
	height: 19px;
	background: url(../img/2.gif);
	background-position: 1px -1px;
	position: absolute;
	top: 0;
	left: 0;
}
.jiao2{
	background-position: 1px -50px;
}
.ov-float{
	width: 120px;
	height: 125px;
	position: absolute;
	right: 0;
	top: 0;
}
.ov-bg{
	background: #fdfefe;
	width: 120px;
	height: 125px;
	opacity: .8;
}
.ov-miao{
	position: absolute;
	top: 38px;
	left: 6px;
}
.ov-float .ov-price{
	position: absolute;
	top: 79px;
	left: 6px;
	color: #fe6600;
}
.ov-float .ov-price span{
	font-size: 14px;
	font-weight: bold;
}
.ov-float .ov-price1{
	position: absolute;
	top: 104px;
	left: 6px;
	color: #999999;
	text-decoration: line-through;
	width: 80px;
	height: 15px;
}
.ov-text p{
	font-size: 12px;
	color: #222222;
}
.ov-price1 span{
	display: block;
	width: 40px;
	height: 16px;
	background: url(../img/2.gif) no-repeat;
	background-position: -200px 0;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.pri1 span{
	background-position: -200px -19px;
}
.pri2 span{
	background-position: -200px -35px;
}
.pri3 span{
	background-position: -200px -50px;
}
.ov-time{
	display: block;
	width: 104px;
	height: 19px;
	background: url(../img/2.gif) no-repeat;
	background-position: -50px 0;
	position: absolute;
	top: 8px;
	left: 10px;
}
.time1{
	background-position: -50px -19px;
}
.time2{
	background-position: -50px -38px;
}
.time3{
	background-position: -50px -57px;
}
.hot{
	margin-top: 39px;
}
.hot li{
	height: 25px;
	width: 70px;
	/*line-height: 25px;*/
	text-align: center;
}
.hot .hot-color1{
	border-bottom: 3px solid #d74568;
}
.hot .hot-color1 a{
	color: #d74568;
}
.hot-title{
	width: 845px;
	height: 25px;
	border-bottom: 3px solid #e15b39;
	padding-right: 105px;
}
.hot-title li{
	margin-right: 19px;
}
.hot-title a{
	font-size: 14px;
	color: #222222;
}
.hot-title .hot-color{
	font-size: 20px;
	color: #333;
	font-weight: bold;
}
.hot-cont{
	width: 950px;
	height: 410px;
	position: relative;
}
.ht-lf ul{
	position: absolute;
	top: 180px;
	left: 8px;
}
.ht-lf li{
	width: 195px;
	height: 30px;
	background: #ffffff;
	margin-bottom: 6px;
	line-height: 30px;
	border-radius: 20px;
	text-align: left;
	padding-left: 10px;
	position: relative;
}
.ht-lf a{
	font-size: 12px;
	color: #333333;
}
.ht-lf a i{
	display: block;
	width: 36px;
	height: 16px;
	background: url(../img/2.gif) no-repeat;
	background-position: -250px 0;
	position: absolute;
	top: 7px;
	right: 10px;
}
.groom{
	position: absolute;
	left: 8px;
	bottom: 12px;
}
.ht-rt{
	width: 713px;
	height: 367px;
	position: absolute;
	right: 12px;
	bottom: 23px;
}
.ht-rt li{
	width: 233px;
	height: 180px;
	background: #fff;
	position: relative;
	margin: 0 7px 7px 0;
}

.ht-rt img{
	width: 215px;
	height: 120px;
	margin-top: 10px;
}
.ht-price{
	width: 215px;
	margin-left: 9px;
	margin-top: 10px;
	color: #999999;
}
.ht-price .fl{
	color: #ff6600;
}
.ht-price .fl strong{
	font-size: 14px;
}
.ht-float{
	width: 215px;
	height: 40px;
	position: absolute;
	bottom: 50px;
	left: 9px;
}
.ht-float .ht-bg{
	width: 215px;
	height: 40px;
	background: black;
	opacity: .5;
}
.ht-text{
	line-height: 18px;
	position: absolute;
	top: 0;
	left: 0;
}
.ht-float .ht-text a{
	color: #ffffff;
}
.ht-rt .ht-no{
	margin-right: -7px;
}
.home{
	height: 402px;
	width: 950px;
	margin-top: 39px;
}
.CD{
	width: 950px;
	height: 218px;
	margin-top: 39px;
}
.home-title,.CD .home-title,.strategy .home-title{
	width: 940px;
	height: 25px;
	border-bottom: 3px solid #eceef4;
	padding-left: 10px;
}
.home-title ul{
	margin-left: 158px;
}
.home-title li{
	margin-right:22px;
}
.home-title .hom{
	font-size: 18px;
	font-weight: bold;
}
.home-title a{
	font-size: 14px;
	color: #222222;
}
.home-title .hom1 a{
	color: #08afb1;
}
.home-title .dome1 a{
	color: #d74568;
}
.home-title .ht1 a{
	color: #cf5eb1;
}
.home-title .long1 a{
	color: #517ac0;
}
.home-title .short1 a{
	color: #3aa860;
}
.home-title .p1 a{
	color: #bf7342;
}
.home-title .lo1 a{
	color: #935eb2;
}
.home-title .hom2{
	width: 40px;
	height: 25px;
	text-align: center;
}
.home-title .dirve1 a{
	color: #68a32e;
}
.home-title .lo1{
	border-bottom: 3px solid #935eb2;
}
.home-title .p1{
	border-bottom: 3px solid #bf7342;
}
.home-title .ht1{
	border-bottom: 3px solid #cf5eb1;
}
.home-title .dirve1{
	border-bottom: 3px solid #68a32e;
}
.home-title .qian1 a{
	color: #0298d6;
}
.home-title .qian1{
	border-bottom: 3px solid #0298d6;	
}
.home-title .qian{
	width: 73px;
	height: 25px;
	text-align: center;
}
.home-title .tit1 a{
	color: #efad08;
}
.home-title .self1 a{
	color: #ef8008;
}
.home-title .self1{
	width: 57px;
	height: 25px;
	text-align: center;
	border-bottom: 3px solid #ef8008;	
}
.home-title .tit1{
	border-bottom: 3px solid #efad08;	
}
.home-title .short1{
	width: 73px;
	height: 25px;
	text-align: center;
	border-bottom: 3px solid #3aa860;
}
.home-title .hom1{
	border-bottom: 3px solid #08afb1;
}
.home-title .long1{
	border-bottom: 3px solid #517ac0;
}
.home-title .dome1{
	border-bottom: 3px solid #d74568;
}
.home-title .home-color1{
	color: #999999;
}
.ht-pl{
	width: 215px;
	height: 119px;
	border-bottom: 1px dotted #d7d7d7;
}
.ht-pl li,.pl1 li,.miao p{
	margin-top: 13px;
	margin-left: 10px;
	word-spacing: 40px;
}
.ht-pl li a,.pl1 li a,.miao p a{
	color: black;
}
.ht-pl a .tip,.pl1 a .tip,.miao a .tip,.xiao a .tip{
	color: #c0c0c0;
}
.ht-pl .pl-til,.pl1 .pl-til{
	font-weight: bold;
}
.cd{
	padding-right: 15px;
}
.hm-rt{
	width: 709px;
	height: 360px;
	margin-top: 15px;
}
.cd-1{
	width: 709px;
	height: 176px;
	margin-top: 15px;
}
.cd-1 li{
	width: 225px;
	height: 176px;
	position: relative;
	margin-right: 17px;
}
.hm-rt li{
	width: 225px;
	height: 170px;
	position: relative;
	margin-right: 17px;
	margin-bottom: 17px;
}
.hm-rt img,.cd-1 img{
	width: 225px;
	height: 127px;
}
.cd-1 .hm-no{
	margin-right: -17px;
}
.hm-float{
	width: 225px;
	height: 40px;
	position: absolute;
	top: 87px;
	left: 0;
}
.hm-float .hm-bg{
	width: 225px;
	height: 40px;
	background: black;
	opacity: .5;
}
.hm-float .hm-text a{
	color: white;
}
.hm-float .hm-text{
	position: absolute;
	top: 0px;
	left: 0;
	line-height: 19px;
}
.hm-rt .hm-no{
	margin-right: -17px;
}
.niu{
	display: block;
	width: 64px;
	height: 20px;
	background: url(../img/2.gif) no-repeat;
	background-position: -250px -40px;
	position: absolute;
	top: 10px;
	right: 9px;
}
.zhe{
	display: block;
	width: 64px;
	height: 18px;
	background: url(../img/2.gif) no-repeat;
	background-position: -250px -80px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.zhe1{
	background-position: -250px 180px;
}
.shuang{
	display: block;
	width: 64px;
	height: 38px;
	background: url(../img/2.gif) no-repeat;
	background-position: -250px -140px;
}
.niu-2,.shuang{
	position: absolute;
	top: 0px;
	right: 0px;
}
.heng{
	text-decoration: line-through;
}
.hm-lf .wod a{
	margin-right: 10px;
}
.hm-lf .wod1 a{
	margin-right: 23px;
}
.pl1{
	width: 215px;
	height: 114px;
	border-bottom: 1px dashed #d7d7d7;
}
.ig{
	display: block;
	width: 64px;
	height: 18px;
	background:#ffb536;
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 18px;
	text-align: center;
	color: white;
	font-weight:bold ;
}
.xiao{
	width: 204px;
	height: 73px;
	border-bottom: 1px dotted #d7d7d7;
	padding-top: 11px;
}
.xiao p{
	margin-left: 12px;
	margin-top: 13px;
	word-spacing: 68px;
}
.xiao p a{
	font-size: 12px;
	color: black;
}
.cd li{
	width: 196px;
	height: 163px;
	border: 1px solid #eceef4;
	background: #f4f5f9;
	margin-top: 15px;
	margin-right: 17px;
	padding: 0 10px 0 17px;
	position: relative;
}
.cd .cd-no{
	margin-right: -17px;
}
.cd .name{
	font-size: 18px;
	font-weight: 600;
}
.crt{
	width: 84px;
}
.cd p{
	font-size: 12px;
	color: #666666;
	margin-top: 14px;
}
.cd-bt{
	width: 223px;
	height: 101px;
	background: #ffffff;
	position: absolute;
	bottom: 0;
	left: 0;
	
}
.cd-bt .ht-price{
	margin:23px auto
}
.cd-bt p a{
	color: #404040;
}
.wifi{
	margin-left: -10px;
}
.sha{
	margin-left: -22px;
}
.ji1,.shi{
	margin-left: 12px;
}
.strategy{
	margin-top: 47px;
	height: 408px;
	width: 950px;
}
.strategy .home-title .top-prize{
	font-size: 12px;
	color: #999999;
}
.trumpe{
	display: block;
	width: 25px;
	height: 21px;
	background: url(../img/2.gif) no-repeat;
	background-position: -320px 0;
	
}
.tru1{
	background-position: -320px -25px;
	margin-left: 33px;
}
.strategy .home-title .top-prize1{
	color: #2e9900;
	
}
.strategy-cont-title li a{
	font-size: 14px;
	color: black;
}
.strategy-cont-title li{
	width: 105px;
	height: 32px;
	margin: 15px 0 10px;
	text-align: center;
	line-height: 32px;
}
.strategy-cont-title .white a{
	color: white;
}
.strategy-cont-title .white{
	background: #2e9900;
}
.strategy-cont1 li{
	width: 226px;
	height: 320px;
	position: relative;
}
.strategy-cont1 li{
	font-size:12px;
	color: white;
	font-weight: 500;
	margin-right: 15px;
}
.strategy-cont1 .big-no{
	margin-right: -15px;
}
.strategy-cont1 li span{
	position: absolute;
	bottom: 12px;
	left: 22px;
}
.big-pc img{
	width: 226px;
	height: 320px;
}
.small{
	position: relative;
	width: 225px;
	height: 152px;
}
.small1{
	margin-bottom: 15px;
}
.small img{
	width: 225px;
	height: 152px;
}
.cont-right{
	width: 225px;
	
}
.cont-right .find{
	width: 225px;
	height: 167px;
	margin-top: 34px;
}
.cont-right .find-title{
	display: block;
	width: 225px;
	height: 23px;
	border-bottom: 3px solid #eceef4;
	font-size: 16px;
}
.cont-right li{
	margin-top: 15px;
}
.cont-right a{
	font-size: 12px;
	color: #666666;
}
.cont-right1 .right-1{
	width: 225px;
	height: 400px;
	background: #f6f6f6;
}
.cont-right1 a{
	font-size: 12px;
	color: #999999;
}
.right-1 li{
	width: 190px;
	height: 97px;
	border-bottom: 1px dotted #e3e4e8;
	margin: 0 auto;
	position: relative;
}
.right-1 a {
	position: absolute;
	top: 33px;
	left: 80px;
}
.right-1 .rtb,.right-2 .rtb,.li-1 .rtb{
	color: #343434;
	margin-bottom: 6px;
}
.right-1 a span,.right-2 a span,.li-1 a span {
	display: block;
}
.rt-bg1{
	display: block;
	width: 72px;
	height: 70px;
	background: url(../img/2.gif) no-repeat;
	background-position: -380px 0;
	position: absolute;
	left: -8px;
	top: 14px;
}
.bg2{
	background-position: -380px -80px;
}
.bg3{
	background-position: -380px -160px;
}
.bg4{
	background-position: -380px -240px;
}
.right-2{
	width: 225px;
	height: 553px;
	background:#f6f6f6;
	margin: 16px 0 15px;
	padding-top: 17px;
}
.rt-bg2{
	display: block;
	width: 60px;
	height: 59px;
	background: url(../img/2.gif) no-repeat;
	background-position: -460px 0;
	position: absolute;
	top: 0;
	left: 22px;
}
.right-2 a {
	position: absolute;
	top: 13px;
	left: 96px;
}
.right-2 li{
	height: 59px;
	width: 225px;
	margin-bottom: 38px;
	position: relative;
}
.rt1{
	background-position: -460px -80px;
}

.rt2{
	background-position: -460px -160px;
}
.rt3{
	background-position: -460px -240px;
}
.rt4{
	background-position: -460px -320px;
}
.rt5{
	background-position: -460px -380px;
}
.hot-by{
	font-size: 12px;
	width: 225px;
	height: 464px;
	background: #f6f6f6;
	padding-top: 22px;
}
.hot-by .by1{
	color: #523333;
	font-weight: bold;
	padding-left: 9px;
}
.by-title{
	width: 198px;
	height: 21px;
	border-bottom: 2px solid #edeef3;
	margin: 28px auto 15px;
}
.by-title li{
	width: 58px;
	height: 21px;
	text-align: center;
}
.by-title .by-green{
	border-bottom: 3px solid #4ecf5b;
}
.by-cont{
	width: 206px;
	height: 377px;
	background: #ffffff;
	margin: 0 auto;
	font-size: 12px;
}
.by-cont li{
	width: 206px;
	height: 60px;
	color: #999999;
	margin-bottom: 15px;
}
.by-text{
	width: 135px;
	line-height: 21px;
	margin-right: 8px;
}
.by-text p{
	font-size: 12px;
}
.by-text p strong{
	font-weight: normal;
	color: #ff6631;
}
.by-text .by2{
	color: #333333;
}
.theme{
	width: 225px;
	height: 496px;
	background: #f6f6f6;
	margin: 16px 0;
	font-size: 12px;
	padding-top:22px ;
}
.theme .title{
	font-weight: bold;
	color: black;
	margin-left:10px;
}
.theme ul{
	width: 205px;
	height: 456px;
	background: white;
	margin: 0 auto;
	margin-top: 20px;
}
.theme ul li{
	width: 205px;
	height: 75px;
	border-bottom: 1px solid #f6f6f6;
	position: relative;
}
.theme ul .li-1{
	width: 185px;
	height: 75px;
	border-bottom: 1px dashed #e3e4e8;
	margin: 0 auto;
}
.li-1 a {
	position: absolute;
	top: 24px;
	left: 84px;
}
.rt-bg3{
	display: block;
	width: 73px;
	height: 75px;
	background: url(../img/2.gif) no-repeat;
	background-position: 0px -450px;
	position: absolute;
	top: 0;
	left: 7px;
}
.rbg1{
	background-position: 0px -525px;
}
.rbg2{
	background-position: 0px -600px;
}
.rbg3{
	background-position: 0px -675px;
}
.rbg4{
	background-position: 0px -750px;
}
.rbg5{
	background-position: 0px -825px;
}
.like{
	width: 225px;
	height: 307px;
	background: #f6f6f6;
	margin: 16px 0 16px;
	padding-top: 16px;
}
.lk-title{
	width: 205px;
	height: 17px;
	margin: 0 auto;
}
.lk-title{
	position: relative;
}
.lk-title span{
	font-weight: bold;
}
.lk-bg1{
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/2.gif) no-repeat;
	background-position: 0px -400px;
	position: absolute;
	top: 0;
	right: 21px;
}
.lk-bg2{
	background-position: 0px -417px;
	position: absolute;
	top: 0;
	right: 0px;
}
.like li{
	width: 205px;
	height: 59px;
	background: white;
	margin:0 auto 10px;
}
.like .lik{
	margin-top: 15px;
}
.like li p{
	width: 140px;
	line-height: 17px;
}
.like li p a{
	color: black;
}
.like li p span{
	font-size: 12px;
	color: #ff6662;
}
.ht-place{
	width: 225px;
	height: 123px;
	background: #f6f6f6;
	padding-top: 16px;
}
.ht-place .htp{
	width: 197px;
	padding-left: 8px;
}
.ht-place ul{
	width: 205px;
	margin: 0 auto;
}
.ht-place li{
	width: 59px;
	height: 77px;
	text-align: center;
	margin-top: 19px;
	margin-right: 18px;
}
.ht-place .htp-no{
	margin-right: -18px;
}
.ht-place li a{
	color: black;
}
.ht-place li span{
	display: block;
	padding-top: 10px;
}
.new{
	width: 225px;
	height: 418px;
	background: #f6f6f6;
	margin: 15px 0 16px;
	padding-top: 16px;
}
.new-title{
	font-weight: bold;
	margin-left: 10px;
}
.new-name{
	width: 207px;
	height: 25px;
	background: #eeeff2;
	color: #999999;
	padding-left: 18px;
	line-height: 25px;
	margin-top: 17px;
	margin-bottom: 6px;
}
.new p {
	font-size: 12px;
	width: 181px;
	height: 36px;
	margin: 0 auto;
	line-height: 18px;
	margin-bottom: 16px;
}
.new p a{
	display: block;
	padding-bottom: 5px;
	color: black;
}
.new p span{
	color: #666666;
}
.new li{
	width: 225px;
	height: 180px;
}
.qian{
	height: 189px;
}
.hq{
	width: 225px;
	height: 270px;
	margin-top: 16px;
}
.hq li{
	height: 75px;
	width: 225px;
	font-size: 12px;
	margin-bottom: 15px;
	position: relative;
}
.hq .hq1{
	background: #f4f4f4;
}
.hq1-bg{
	display: block;
	width: 98px;
	height: 75px;
	background: url(../img/2.gif) no-repeat;
	background-position: 0 -100px;
	position: absolute;
	left: 10px;
	top: 0;
}
.hq li a {
	position: absolute;
	top: 28px;
	right: 18px;
	text-align: center;
	color: black;
}
li a .Enlg{
	display: block;
	color: #d6931e;
	
}
li a .Enlg1{
	display: block;
	color: #38c263;
	
}
li a .Enlg2{
	display: block;
	color: #7cc1e0;
	
}

.hq-1{
	background-position: 0 -200px;
}
.hq-2{
	background-position: -1px -300px;
}
.tourist{
	width: 1191px;
	height: 235px;
	margin: 0 auto 52px;
}
.tourist .title{
	width: 1191px;
	height: 26px;
	border-bottom: 2px solid #666666;
	font-size: 12px;
	color: #999999;
}
.tourist .title .title-1{
	font-size: 20px;
	color: black;
	font-weight: 400;
}
.title-2{
	padding-top: 5px;
}
.tourist ul{
	width: 1136px;
	margin: 0 auto;
}
.tourist ul li{
	width: 120px;
	height: 90px;
	font-size: 12px;
	margin-top: 30px;
	position: relative;
	text-align: center;
	margin-right: 6px;
}
.tourist li a{
	color: #666666;
}
.tour{
	display: block;
	width: 120px;
	height: 59px;
	background: url(../img/2.gif) no-repeat;
	background-position: -240px -500px;
	position:absolute;
	top: 0;
	left: 0;
}
.tour1{
	background-position: -360px -500px;
}
.tour2{
	background-position: -480px -500px;
}
.tour3{
	background-position: -600px -500px;
}
.tour4{
	background-position: -720px -500px;
}
.tour5{
	background-position: -840px -500px;
}
.tour6{
	background-position: -360px -560px;
}
.tour7{
	background-position: -480px -560px;
}
.tour8{
	background-position: -600px -560px;
}
.tour9{
	background-position: -720px -560px;
}
.tour10{
	background-position: -840px -560px;
}
.tour11{
	background-position: -360px -620px;
}
.tour12{
	background-position: -480px -620px;
}
.tour13{
	background-position: -600px -620px;
}
.tour14{
	background-position: -720px -620px;
}
.tour15{
	background-position: -840px -620px;
}
.tour16{
	background-position: -360px -620px;
}
.tour17{
	background-position: -480px -620px;
}
.tour-name{
	display: block;
	margin-top: 58px;
}
.sun{
	width: 1136px;
	height: 48px;
	margin: 0 auto 32px;
}
.sun li{
	width: 120px;
	height: 48px;
	font-size: 12px;
	position: relative;
	text-align: center;
}
.sun-name{
	display: block;
	padding-top: 34px;
}
.sun li a{
	color: #333333;
}
.sun1{
	display: block;
	width: 25px;
	height: 25px;
	background: url(../img/2.gif) no-repeat;
	background-position: -205px -406px;
	position: absolute;
	bottom: 25px;
	left: 48px;
}
.sun1-bg1{
	background-position: -240px -360px;
}
.sun1-bg2{
	background-position: -265px -360px;
}
.sun1-bg3{
	background-position: -290px -360px;
}
.sun1-bg4{
	background-position: -315px -360px;
}
.sun1-bg5{
	background-position: -340px -360px;
}
.sun1-bg6{
	background-position: -365px -360px;
}
.sun1-bg7{
	background-position: -390px -360px;
}
.sun1-bg8{
	background-position: -415px -360px;
}
.question{
	height: 134px;
	width: 1150px;
	margin: 0 auto 8px;
	line-height: 24px;
	position: relative;
}
.question dl{
	margin-right: 52px;
}
.question dl dt{
	font-size: 14px;
	color: black;
	font-weight: bold;
}
.question dd a{
	font-size: 12px;
	color: #999999;
}
.question img{
	position: absolute;
	top: 0;
	right: -70px;
}
.footer-1{
	width: 100%;
	height: 217px;
	background: #f5f5f5;
	border-top: 1px solid #d8d8d8;
	
}
.footer-2{
	width: 100%;
	height: 62px;
	background: #60ca6e;
	margin-bottom: 10px;
}
.footer-3{
	width: 990px;
	height: 60px;
	margin: 0 auto 10px;
}
.footer-3 li{
	width: 238px;
	height: 59px;
	border: 1px solid #d8d8d8;
	margin-right: 10px;
}
.footer-3 .ft3-no{
	margin-right: -10px;
}
.footer-4{
	width: 988px;
	height: 58px;
	margin: 0 auto 17px;
	border: 1px solid #d8d8d8;
}
.ft-img li{
	margin-right: 10px;
}
.fot1{
	width: 986px;
	height: 173px;
	margin: 20px auto 0;
}
.fot1-1{
	height: 173px;
	width: 270px;
	border-right: 1px dashed #d8d8d8;
	position: relative;
}
.fot1-2{
	height: 173px;
	width: 170px;
	border-right: 1px dashed #d8d8d8;
	position: relative;
}
.fot1-3{
	position: relative;
}
.fot1-title{
	font-size: 14px;
	font-weight: bold;
	color: black;
	padding-left: 65px;
	padding-top: 12px;
}
.fot1-bg{
	display: block;
	width: 36px;
	height: 35px;
	background: url(../img/2.gif) no-repeat;
	background-position: -550px 0;
	position: absolute;
	left: 20px;
	top: 0;
}
.footer-1 ul,.fot1-3 .app span{
	padding-top: 11px;
	margin-left: 64px;
}
.footer-1 dt{
	padding-bottom: 11px;
}
.footer-1 dd{
	margin-left: 64px;
}
.footer-1 li a,.footer-1 dd a,.fot1-3 .app span{
	display: block;
	font-size: 12px;
	color: #999999;
	line-height: 18px;
}
.footer-1 li{
	margin-right: 10px;
}
.fot1-bg1{
	background-position: -550px -50px;
}
.fot1-3-bg{
	display: block;
	width: 80px;
	height: 69px;
	background: url(../img/2.gif) no-repeat;
	background-position: -600px 0;
	margin-top: 12px;
}
.fot1-bg2{
	background-position: -550px -100px;
}
.fot1-bg3{
	background-position: -550px -150px;
}
.fot1-bg4{
	background-position: -550px -200px;
}
.fot-2{
	width: 1008px;
	height: 60px;
	margin: 0 auto;
}
.sun-1{
	width: 217px;
	height: 60px;
	position: relative;
	margin-right: 47px;
}
.fot-2 .sun-no{
	margin-right: -47px;
}
.sun-1 p{
	font-size: 12px;
	color: white;
	position: absolute;
	top: 21px;
	left: 58px;
}
.sun-1 p .sun-big{
	font-size: 18px;
	font-weight: bold;
}
.sun-bg{
	display: block;
	width: 58px;
	height: 60px;
	background: url(../img/2.gif) no-repeat;
	background-position: -700px 0px;
}
.sun-bg1{
	background-position: -700px -60px;
}
.sun-bg2{
	background-position: -700px -120px;
}
.sun-bg3{
	background-position: -700px -178px;
}
.fot3-bg{
	display: block;
	width: 96px;
	height: 58px;
	background: url(../img/2.gif) no-repeat;
	background-position: -800px 0;
}
.footer-3 li a{
	font-size: 12px;
	color: #999999;
	margin-top: 10px;
	margin-right: 15px;
}
.footer-3 li .rtb1{
	color: black;
	font-weight: bold;
	line-height: 20px;
}
.footer-3 a span{
	display: block;
}
.fot3-bg1{
	background-position: -800px -100px;
}
.fot3-bg2{
	background-position: -800px -200px;
}
.fot3-bg3{
	background-position: -800px -300px;
}
.ft-text,.ft-text a,.news{
	font-size: 12px;
	color: #777777;
	text-align: center;
}
.ft-text{
	margin-bottom: 13px;
}
.ft-text span .cdif{
	color: red;
}
.ft-text span{
	display: block;
	margin-top: 12px;
}
.ft-last{
	width: 551px;
	height: 40px;
	margin: 0 auto 12px;
}
.ft-last li{
	width: 175px;
	height: 38px;
	border: 1px solid #d8d8d8;
	margin-right: 10px;
	line-height: 38px;
}
.ft-last .last-no{
	margin-right: -10px;
}
.ft-last a{
	font-size: 12px;
	color: #767676;
}
.last-bg{
	display: block;
	width: 80px;
	height: 38px;
	background: url(../img/2.gif) no-repeat;
	background-position: -900px -10px;
}
.fllow{
	margin-right:35px ;
}
.last-bg1{
	background-position: -900px -105px;
}
.last-bg2{
	background-position: -900px -207px;
}
.news{
	margin: 0 auto 17px;
}
.ft-img{
	width: 1048px;
	margin: 0 auto;
}
.last-link{
	width: 1200;
	height: 34px;
	border-top: 1px solid #e7e7e7;
	margin: 10px auto 28px;
	text-align: center;
	padding-top: 11px;
}
.last-link a{
	
	color: #999999;
}
.last-link p{
	margin: 0 auto;
	font-size: 12px;
	color: #999999;
	line-height: 18px;
}
 




















